.main {
   text-align: center;
  background-color: rgb(6, 5, 20);
  color: white;
  font-size: 30px;
}
body{
    background-color:rgb(6, 5, 20);
}
h4{
  margin-bottom: auto;
  font-size: 40px;
}
ul{
margin-top: auto;
 list-style: none;

}
p{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  text-align: inherit;
  margin-bottom: auto;
  width: 50%;
}